@page "/alumnos"
@rendermode InteractiveServer
@inject NavigationManager _navigator;
@inject IRepositorioAlumnos _repositorio;

<div style="display: flex; align-items: center; gap: 10px; margin-bottom: 20px;">
    <h3 style="margin: 0;">Alumnos Registrados</h3>
    <a href="alumnos/nueva" title="Agregar Alumno">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="green" class="bi bi-person-fill-add" viewBox="0 0 16 16">
            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
            <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4" />
        </svg>
    </a>
</div>

@if(_error) {
    <div class="alert alert-danger">No se puede eliminar el alumno mientras tenga un prestamo</div>
}

@if (_alumno == null)
{
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Cargando...</span>
    </div>
}
else if (_alumno.Count == 0)
{
    <p>No hay alumnos registrados.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Grado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var alumno in _alumno)
            {
                <tr>
                    <td>@alumno.Nombre</td>
                    <td>@alumno.Correo</td>
                    <td>@alumno.Grado</td>
                    <td>
                        <button class="btn btn-sm" title="Modificar" @onclick="()=>Modificar(alumno.Id)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                            </svg>
                        </button>
                        <button class="btn btn-sm" title="Eliminar" @onclick="()=>Eliminar(alumno)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                            </svg>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Alumnos> _alumno = new();
    private bool _error = false;

    protected override async Task OnInitializedAsync()
    {
        _alumno = await _repositorio.GetAll();
    }

    private async void Eliminar(Alumnos alumno)
    {
        if(await _repositorio.canDelete(alumno.Id)){
            await _repositorio.Delete(alumno.Id);
            _alumno!.Remove(alumno);
            _error = false;
        } 
        else {
            _error = true;
        }
        await InvokeAsync(StateHasChanged);
    }

    private void Modificar(int id)
    {
        _navigator.NavigateTo($"/alumnos/editar/{id}");
    }
}