@page "/"

<PageTitle>Home</PageTitle>

<h1>Libros de una biblioteca escolar</h1>
<p>Revisa los <a href="alumnos" title="Ver los alumnos">alumnos</a> que están registrados en la biblioteca</p>
<p>Revisa los <a href="libros" title="Ver los libros">libros</a> que hay en la biblioteca y los que están siendo prestados</p>
<p>Revisa los <a href="prestamos" title="Ver los prestamos">prestamos</a> que tiene cada alumno con su respectivo libro prestado</p>
